@page "/profile-settings"
@model Aapartment.Web.Pages.SitePages.ProfileSettingsModel

@{
    ViewData["Title"] = "Profile settings";
}

<div class="text-center mt-5 mb-5">
    <h4 class="display-4">@ViewData["Title"]</h4>
</div>

<form method="post" class="row d-flex justify-content-center mb-3" >
    <div class="col-md-2 d-flex align-items-center justify-content-center" style="background-color: #00203FFF; color: #c7ecee;">
        <p class="m-0"><strong class="m-0">Username:</strong></p>
    </div>
    <div class="col-md-3 d-flex align-items-center" id="usernameRowDiv" style="border: solid #00203FFF">
        <p class="m-0">@Model.CurrentUser.UserName</p>
    </div>
    <div class="col-md-2 d-flex align-items-center justify-content-center" id="usernameButton"  style="background-color: #00203FFF; color: #c7ecee;">
        <a class="btn" onclick="usernameClick()"><i class="fas fa-edit text-center" style="color: #c7ecee;"></i></a>
    </div>
</form>

<form method="post" class="row d-flex justify-content-center mb-3">
    <div class="col-md-2 d-flex align-items-center justify-content-center" style="background-color: #00203FFF; color: #c7ecee;">
        <p class="m-0"><strong class="m-0">Email:</strong></p>
    </div>
    <div class="col-md-3 d-flex align-items-center"  id="emailRowDiv" style="border: solid #00203FFF">
        <p class="m-0">@Model.CurrentUser.Email</p>
    </div>
    <div class="col-md-2 d-flex align-items-center justify-content-center" id="emailButton" style="background-color: #00203FFF; color: #c7ecee;">
        <a class="btn" onclick="emailClick()"><i class="fas fa-edit text-center" style="color: #c7ecee;"></i></a>
    </div>
</form>

<form method="post" class="row d-flex justify-content-center mb-3">
    <div class="col-md-2 d-flex align-items-center justify-content-center" style="background-color: #00203FFF; color: #c7ecee;">
        <p class="m-0"><strong class="m-0">Password:</strong></p>
    </div>
    <div class="col-md-3 d-flex align-items-center"  id="passwordRowDiv" style="border: solid #00203FFF">
        <p class="m-0">***</p>
    </div>
    <div class="col-md-2 d-flex align-items-center justify-content-center" id="passwordButton" style="background-color: #00203FFF; color: #c7ecee;">
        <a class="btn" onclick="passwordClick()"><i class="fas fa-edit text-center" style="color: #c7ecee;"></i></a>
    </div>
</form>

<form method="post" class="row d-flex justify-content-center mb-3">
    <div class="col-md-2 d-flex align-items-center justify-content-center" style="background-color: #00203FFF; color: #c7ecee;">
        <p class="m-0"><strong class="m-0">Firstname:</strong></p>
    </div>
    <div class="col-md-3 d-flex align-items-center"  id="firstnameRowDiv" style="border: solid #00203FFF">
        <p class="m-0">@Model.CurrentUser.FirstName</p>
    </div>
    <div class="col-md-2 d-flex align-items-center justify-content-center"  id="firstnameButton" style="background-color: #00203FFF; color: #c7ecee;">
        <a class="btn" onclick="firstnameClick()"><i class="fas fa-edit text-center" style="color: #c7ecee;"></i></a>
    </div>
</form>

<form method="post" class="row d-flex justify-content-center mb-3">
    <div class="col-md-2 d-flex align-items-center justify-content-center" style="background-color: #00203FFF; color: #c7ecee;">
        <p class="m-0"><strong class="m-0">Lastname:</strong></p>
    </div>
    <div class="col-md-3 d-flex align-items-center"  id="lastnameRowDiv" style="border: solid #00203FFF">
        <p class="m-0">@Model.CurrentUser.LastName</p>
    </div>
    <div class="col-md-2 d-flex align-items-center justify-content-center" id="lastnameButton" style="background-color: #00203FFF; color: #c7ecee;">
        <a class="btn" onclick="lastnameClick()"><i class="fas fa-edit text-center" style="color: #c7ecee;"></i></a>
    </div>
</form>
<div aria-live="polite" aria-atomic="true" class="bg-danger position-relative bd-example-toasts ">
    <div class="toast-container position-absolute top-0 start-50 translate-middle-x p-3" id="toastPlacement">
        <div class="toast bg-danger">
            <div class="toast-body" id="failedUserModify">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
    var passwordformat = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{8,}$/

    const usernameEditTemplate = '<div class="p-0 col-md-3 d-flex align-items-center" style="border: solid #00203FFF"><input type="text" placeholder="Username" class="form-control" id="usernameValue" /></div>';
    const usernameEditButton = '<div class="col-md-2 d-flex align-items-center justify-content-center" style="background-color: #00203FFF; color: #c7ecee;"><a class="btn" onclick="changeUsername()"> <i class="fas fa-check text-center" style="color: #c7ecee;"></i></a><a onclick="cancel()"><i class="fas fa-minus-circle"></i></a></div>';

    const emailEditTemplate = '<div class="p-0 col-md-3 d-flex align-items-center" style="border: solid #00203FFF"><input type="text" placeholder="Email" class="form-control" id="emailValue" /></div>';
    const emailEditButton = '<div class="col-md-2 d-flex align-items-center justify-content-center" style="background-color: #00203FFF; color: #c7ecee;"><a class="btn" onclick="changeEmail()"> <i class="fas fa-check text-center" style="color: #c7ecee;"></i></a><a onclick="cancel()"><i class="fas fa-minus-circle"></i></a></div>';

    const passwordEditTemplate = '<div class="p-0 col-md-3 d-flex flex-column justify-content-center align-items-center" style="border: solid #00203FFF">' +
        '<div class="input-group"><input type="text" class="form-control" placeholder="Current password" id="usernameIdCurrentPassword" aria-describedby="inputGroup-sizing-sm" /></div>' +
        '<div class="input-group"><input type="text" class="form-control" placeholder="New password" id="usernameIdNewPassword" aria-describedby="inputGroup-sizing-sm" /></div>' +
        '<div class="input-group"><input type="text" class="form-control" placeholder="New password again" id="usernameIdNewPasswordAgain" aria-describedby="inputGroup-sizing-sm" /></div>' +
        '</div>'
    const passwordEditButton = '<div class="col-md-2 d-flex align-items-center justify-content-center" style="background-color: #00203FFF; color: #c7ecee;"><a class="btn" onclick="changePassword()"> <i class="fas fa-check text-center" style="color: #c7ecee;"></i></a><a onclick="cancel()"><i class="fas fa-minus-circle"></i></a></div>';

    const lastnameEditTemplate = '<div class="p-0 col-md-3 d-flex align-items-center" style="border: solid #00203FFF"><input placeholder="Last name" type="text" class="form-control" id="lastnameValue" /></div>';
    const lastnameEditButton = '<div class="col-md-2 d-flex align-items-center justify-content-center" style="background-color: #00203FFF; color: #c7ecee;"><a class="btn" onclick="changeLastname()"> <i class="fas fa-check text-center" style="color: #c7ecee;"></i></a><a onclick="cancel()"><i class="fas fa-minus-circle"></i></a></div>';

    const firstnameEditTemplate = '<div class="p-0 col-md-3 d-flex align-items-center" style="border: solid #00203FFF"><input placeholder="First name" type="text" class="form-control" id="firstnameValue" /></div>';
    const firstnameEditButton = '<div class="col-md-2 d-flex align-items-center justify-content-center" style="background-color: #00203FFF; color: #c7ecee;"><a class="btn" onclick="changeFirstname()"> <i class="fas fa-check text-center" style="color: #c7ecee;"></i></a><a onclick="cancel()"><i class="fas fa-minus-circle"></i></a></div>';

    function cancel() {
        location.reload();
    }

    function usernameClick() {
        var divInput = $("#usernameRowDiv");
        divInput.replaceWith(usernameEditTemplate);

        var divButton = $("#usernameButton");
        divButton.replaceWith(usernameEditButton);
    }

    function emailClick() {
        var divInput = $("#emailRowDiv");
        divInput.replaceWith(emailEditTemplate);

        var divButton = $("#emailButton");
        divButton.replaceWith(emailEditButton);
    }

    function passwordClick() {
        var divInput = $("#passwordRowDiv");
        divInput.replaceWith(passwordEditTemplate);

        var divButton = $("#passwordButton");
        divButton.replaceWith(passwordEditButton);
    }

    function firstnameClick() {
        var divInput = $("#firstnameRowDiv");
        divInput.replaceWith(firstnameEditTemplate);

        var divButton = $("#firstnameButton");
        divButton.replaceWith(firstnameEditButton);
    }

    function lastnameClick() {
        var divInput = $("#lastnameRowDiv");
        divInput.replaceWith(lastnameEditTemplate);

        var divButton = $("#lastnameButton");
        divButton.replaceWith(lastnameEditButton);
    }

    function changeUsername() {
        const username = $("#usernameValue").val();
        $.ajax({
            url: 'http://localhost:41873/api/users/' + @Model.CurrentUser.Id + '/username?username=' + username,
            method: 'PATCH',
            success: function (result) {
                location.reload();
            },
            error: function (error) {
                $('#failedUserModify').text('Error: the new username is not valid.')
                $('.toast').toast('show');
                console.log(error);
            }
        });
    }

    function changeEmail() {
        const email = $("#emailValue").val();

        if (!email.match(mailformat)) {
            $('#failedUserModify').text("Please enter a valid email.");
            $('.toast').toast('show');
            return;
        }

        $.ajax({
            url: 'http://localhost:41873/api/users/' + @Model.CurrentUser.Id + '/email?email=' + email,
            method: 'PATCH',
            success: function (result) {
                location.reload();
            },
            error: function (error) {
                $('#failedUserModify').text('Error: the new email is not valid.')
                $('.toast').toast('show');
                console.log(error);
            }
        });
    }

    function changePassword() {
        const currentpassword = $("#usernameIdCurrentPassword").val();
        const newpassword = $("#usernameIdNewPassword").val();
        const newpasswordagain = $("#usernameIdNewPasswordAgain").val();

        if (!newpassword.match(passwordformat)) {
            $('#failedUserModify').text("Error: 8 character, Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character.");
            $('.toast').toast('show');
            return;
        }

        if (newpassword != newpasswordagain) {
            $('#failedUserModify').text("Error: the passwords you enter doesn't match.");
            $('.toast').toast('show');
            return;
        }

        var password = {
            currentPassword: currentpassword,
            newPassword: newpassword
        }

        $.ajax({
            url: 'http://localhost:41873/api/users/' + @Model.CurrentUser.Id + '/password',
            method: 'PATCH',
            data: JSON.stringify(password),
            dataType: 'json',
            contentType: 'application/json',
            success: function (result) {
                location.reload();
            },
            error: function (error) {
                $('#failedUserModify').text('Error: the new or the old password is not valid.')
                $('.toast').toast('show');
                console.log(error);
            }
        });
    }

    function changeLastname() {
        const lastname = $("#lastnameValue").val();

        $.ajax({
            url: 'http://localhost:41873/api/users/' + @Model.CurrentUser.Id + '/name?lastname=' + lastname,
            method: 'PATCH',
            success: function (result) {
                location.reload();
            },
            error: function (error) {
                $('#failedUserModify').text('Error: the new lastname is not valid.')
                $('.toast').toast('show');
                console.log(error);
            }
        });
    }

    function changeFirstname() {
        const firstname = $("#firstnameValue").val();

        $.ajax({
            url: 'http://localhost:41873/api/users/' + @Model.CurrentUser.Id + '/name?firstname=' + firstname,
            method: 'PATCH',
            success: function (result) {
                location.reload();
            },
            error: function (error) {
                $('#failedUserModify').text('Error: the new firstname is not valid.')
                $('.toast').toast('show');
                console.log(error);
            }
        });
    }
</script>