@page "/recommendation"
@model Aapartment.Web.Pages.SitePages.RecommendationModel
@{
    ViewData["Title"] = "Top Apartments";
}
@if (Model.Option == 0)
{
    <div class="text-center mt-5 mb-5">
        <h4 class="display-4">@ViewData["Title"]</h4>
    </div>
}
else
{
    <div class="text-center mt-5 mb-5">
        <h4 class="display-4">Top @Model.Option Apartments</h4>
    </div>
}

<form method="post" class="d-flex">
    <select asp-for="Option" class="form-select" aria-label="multiple select example">
        <option value="5">Top5</option>
        <option value="10">Top10</option>
        <option value="20">Top20</option>
    </select>
    <button type="submit" asp-page-handler="Search">Search</button>
</form>
@if(Model.Apartments != null && Model.Apartments.Count() != 0)
{
<div class="row d-flex">

    @foreach (var apartment in Model.Apartments)
    {
        <div class="col-md-3 mt-3 mb-3">
            <div class="card">
                <img src="~/images/@{@apartment.ImageName}" class="card-img-top" alt="nopicture">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@apartment.Name</h5>
                    <p class="mb-0">@apartment.Address.City</p>
                    <div class="d-flex justify-content-start align-content-start mb-2">
                        @for (int i = 0; i < apartment.Ratings; i++)
                        {
                            <i style="font-size: 1rem; color: #FDCC0D" class="bi bi-star-fill m-1"></i>
                        }
                        @for (int i = apartment.Ratings; i < 5; i++)
                        {
                            <i style="font-size: 1rem; color: #FDCC0D" class="bi bi-star m-1"></i>
                        }
                    </div>

                    <a type="button" asp-page="/SitePages/ApartmentPage" asp-route-id="@apartment.Id" class="btn btn-secondary">Go to &rarr;</a>
                </div>
            </div>
        </div>
    }

</div>        
}
