@page "/admin/apartment/{id:int?}"
@model Aapartment.Web.Pages.AdminSitePages.CreateOrEditApartmentModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Apartment management";
}

@if (Model.Id == null)
{
    <div class="text-center mt-5 mb-5">
        <h4 class="display-4">Create an apartment</h4>
    </div>
}
else
{
    <div class="text-center mt-5">
        <h4 class="display-4">Modify apartment : @Model.Apartment.Name</h4>
    </div>
}

<form class="row g-3 p-5" method="post" enctype="multipart/form-data">
    <div class="col-sm-7">
        <input asp-for="Apartment.Name" type="text" class="form-control" placeholder="Name" aria-label="Name" name="Name">
    </div>
    <div class="col-sm-5">
        <input class="form-control" type="file" id="formFile"  asp-for="Upload">
    </div>
    <div class="col-sm-12">
        <input asp-for="Apartment.Address.Street" type="text" class="form-control" placeholder="Street" aria-label="Street" name="Street">
    </div>
    <div class="col-sm-5">
        <input asp-for="Apartment.Address.City" type="text" class="form-control" placeholder="City" aria-label="City" name="City">
    </div>
    <div class="col-sm-5">
        <input asp-for="Apartment.Address.Country" type="text" class="form-control" placeholder="Country" aria-label="Country" name="Country">
    </div>
    <div class="col-sm-2">
        <input asp-for="Apartment.Address.ZipCode" type="number" class="form-control" placeholder="Zip" aria-label="Zip" name="Zip">
    </div>
    <div class="col-sm-12 mb-3">
        <div class="form-floating">
            <textarea name="Description" asp-for="Apartment.Description" class="form-control" placeholder="Write a description for apartment" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Description</label>
        </div>
    </div>
    @if(Model.Apartment.Services != null)
    {
        
            @foreach (var service in Model.Apartment.Services)
            {
                <div class="row justify-content-center mb-1" id="service-@service.Id">
                    <div class="col-3">
                        @service.Name <i class="@service.Icon"></i>
                    </div>
                    <div class="col-1">
                        <button type="submit" class="btn btn-outline-danger" formmethod="post" asp-page-handler="RemoveService" asp-route-serviceid="@service.Id"><i class="fas fa-minus-circle"></i></button>
                    </div>
                </div>
            }
    }
    <div class="row justify-content-center mt-3">
        <div class="col-3">
            <select class="form-select mb-3">
                <option value="@Aapartment.Business.Constants.Services.Airport_NAME">@Aapartment.Business.Constants.Services.Airport_NAME</option>
                <option value="@Aapartment.Business.Constants.Services.Family_NAME">@Aapartment.Business.Constants.Services.Family_NAME</option>
                <option value="@Aapartment.Business.Constants.Services.FreeWifi_NAME">@Aapartment.Business.Constants.Services.FreeWifi_NAME</option>
                <option value="@Aapartment.Business.Constants.Services.NonSmoking_NAME">@Aapartment.Business.Constants.Services.NonSmoking_NAME</option>
                <option value="@Aapartment.Business.Constants.Services.Pets_NAME">@Aapartment.Business.Constants.Services.Pets_NAME</option>
                <option value="@Aapartment.Business.Constants.Services.Terrace_NAME">@Aapartment.Business.Constants.Services.Terrace_NAME</option>
            </select>
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-outline-dark" formmethod="post" asp-page-handler="AddService">Add new service <i class="fas fa-plus"></i></button>
        </div>
    </div>

    <div class="col-auto">
        <button type="submit" formmethod="post" asp-page-handler="CreateOrModify" class="btn btn-secondary mb-3">Create</button>
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function RemoveService(id) {
        $("#service-" + id).remove();
        
    }
</script>